<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">



<head>
    <meta charset="UTF-8">
    <title>USER</title>
    <link rel="stylesheet" href="user_style.css">



</head>

<body>

<header>


    <h2>Student Network</h2>


    <form action="#" th:action="@{/results}" th:object="${Search}" method="post">
        <textarea name="Text1" th:field="*{searchInput}" placeholder="Search" cols="20" rows="1"></textarea>
        <br>
        <input type="submit" value="Search">
    </form>


</header>

<section>
    <nav>
        <ul>
            <li><a href="#">London</a></li>
            <li><a href="#">Paris</a></li>
            <li><a href="#">Tokyo</a></li>
        </ul>
    </nav>

    <article>

        <form action="#" th:action="@{/user}" th:object="${UserInput}" method="post">
        <textarea name="Text1" th:field="*{postText}" placeholder="New post" cols="40" rows="5"></textarea>
            <br>
        <input type="submit" value="Submit">
        </form>

        <table>
            <tr id = "tablePart" th:each="post : ${posts}">

                <td ><span th:text="${post.getGroupId()}"> GroupID </span></td>

                <td id="postDisplay"><span th:text="${post.getText()}"> Text </span></td>


            </tr>
        </table>
    </article>
</section>

<footer>
    <p>Footer</p>
</footer>

</body>
</html>